@charset "utf-8";

:root{
--base:#FFFFFF;
--color_1:#009246;
--color_2:#ce2b37;
--color_3:#cea394;
--color_4:#cee3d9;
--text_color:#333;
--font_en:"Oswald", sans-serif;
--font_ja:"Hachi Maru Pop", cursive;
}
html{
scroll-behavior: smooth;
}
body{
background-color: var(--base);
color: var(--text_color);
}

h1{
font-family: var(--font_ja);
color: var(--color_3);
>span{
font-family: var(--font_en);
color: var(--color_3)
}
}

html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;vertical-align: bottom;}

/* header部分 */
header{
width: fit-content;
height: auto;
background-color: #f7f7f788;
backdrop-filter: blur(20px);
padding: 20px;
position: absolute;
left: 30px;
top: 30px;
z-index:10;
font-family: var(--font_ja);
}
h1{
font-size: 20px;
margin-bottom: 16px;
>span{
font-family:  var(--font_en);
display: block;
font-size: 2.75em;
}
}

/* ハンバーガーボタン */
#ham-btn{
position: fixed;
right: 0;
top: 0;
z-index: calc(infinity);
background-color: var(--base);
&:hover{
opacity: 1;
background-color: #FFFFFF;
box-shadow: -5px 5px 5px #999;
transition: 0.2s;
}
}

/* ナビゲーション */
#g-nav{
width: 100%;
height: 100vh;
background: url(../img/nav-bg1.jpg) no-repeat center center/cover;
position: fixed;
top: 0;
left: 0;
z-index: 30;
display: flex;
flex-direction: row-reverse;
>ul{
width: 50%;
height: 100vh;
background-color: #FFF;

backdrop-filter: blur(6px);
padding: 5%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
>li{
margin-bottom: 16px;
width: 100%;
>a{
color: var(--text_color);
display: block;
padding: 6px 0;
border-bottom: 2px solid var(--color_2);
}
&:nth-of-type(n+7){
width: 48%;
margin-top: 10px;
>a{
display: block;
color: #FFFFFF;
border-bottom: 0;
background: #000000 url(../img/square-x-twitter-brands-solid.svg) no-repeat 20px center/30px;
padding: 10px;
text-align: center;
}
}
&:nth-of-type(8)>a{
background: #FFFFFF url(../img/line-brands-solid.svg) no-repeat 20px center/30px;
border: 2px solid #06c152;
color: #06c152;
}
&:nth-of-type(-n+6)>a:hover{
padding-left: 20px;
font-weight: bold;
transition: 0.2s;
}
}
}
@media (max-width:960px){
>ul{
width: 70%;
}
}
@media (max-width:640px){
>ul{
width: 90%; 
height: 90vh;
margin: 5vh auto;
}
}
}

/* メインビジュアル */
#main-visual{
width: 100%;
height: 100vh;
@media (max-width:640px){
height: 65vh;
}
}
.form-page>#main-visual{
height: 240px;
}
/* メインコピー部分 */
.main-copy{
    max-width: 680px;
    margin: 0 auto;
text-align: center;
padding: 150px 10px;
font-family: var(--font_ja);
>h2{
font-size: 32px;
margin-bottom: 30px;
}
>.lead{
font-size: 20px;
line-height: 2;
}

@media (max-width:640px){
padding: 100px 10px;
>h2{
font-size: 26px;
}
>.lead{
font-size: 18px;
}
}
}
/* sp時のみ改行を有効にする */
.sp-on{
display: none;/* 改行を無効にする */
@media (max-width:640px){
display: block;/* 改行を有効にする */
}
}

/* ギャラリー部分 */
.gallery{
max-width: 620px;
margin: 0 auto 200px;
position: relative;
>p:nth-of-type(1){
box-shadow: 15px 15px 0 var(--color_3);
}
>p:nth-of-type(2){
width: 50%;
position: absolute;
right: -70px;
bottom: -130px;
box-shadow: 15px 15px 0 var(--color_4);
}
/* 960px以下 */
@media (max-width:960px){
width: 70%;
margin-bottom: 120px;
>p:nth-of-type(2){
right: -60px;
bottom: -100px;
}
}
}

/* 共通部分 */
.content{
padding: 100px 10px;
>h3{
text-align: center;
font-size: 30px;
font-family: var(--font_ja);
color: var(--color_1);
margin-bottom: 50px;
&::after{
display: block;
content: attr(data-en);
font-size: 0.75em;
font-family: var(--font_en);
color: var(--color_2);
}
}
/* 640px以下 */
@media (max-width:640px){
padding: 60px 10px;
>h3{
font-size: 26px;
margin-bottom: 30px;
}
}
}

/* お知らせ部分 */
#news-list{
max-width: 600px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
>dt{
width: 30%;
border-bottom: 2px solid var(--color_1);
padding: 20px 20px 10px;
margin-bottom: 10px;
font-weight: bold;
&:nth-of-type(n+4){
display: none;
}
}
>dd{
width: 70%;
border-bottom: 2px solid var(--color_1);
padding: 20px 20px 10px;
margin-bottom: 10px;
&:nth-of-type(n+4){
display: none;
}
}
/* 640px以下 */
@media (max-width:640px){
display: block;
>dt{
width: 100%;
border-bottom: 0;
padding: 20px 20px 0;
margin-bottom: 0;
}
>dd{
width: 100%;
padding: 10px 20px;
}
}
}
/* メニュー部分 */
.menu-wrapper{
max-width: 900px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
gap: 80px;
>.menu-box{
width: calc((100% - 160px) / 3);
>a{
color: var(--color_2);
font-size: 20px;
font-family: var(--font_ja);
text-align: center;
display: block;
}
.menu-photo{
width: 100%;
margin-top: 10px;
aspect-ratio: 1/1;
>img{
object-fit: cover;
width: 100%;
height: 100%;
border-radius: 50%;/* 50％以上で正円になる */
border: 1px solid #333;
&:hover{
box-shadow: 0 0 12px #777777;
}
}
}
}
/* 960px以下 */
@media (max-width:960px){
gap: 40px 20px;
>.menu-box{
width: calc((100% - 20px) / 2);
>a{
font-size: 18px;
}
}
}
}

/* パララックス部分 */
.parallax{
width: 100%;
height: 70vh;
background: url(../img/main-0.webp) no-repeat center center/contain fixed;
/* 960px以下 */
@media (max-width:960px){
height: 50vh;
background: url(../img/main-0.webp) no-repeat center center/contain scroll;
}
}

/* 動画部分 */
.movie-inner{
width: 70%;
aspect-ratio: 16/9;
margin: 0 auto;
>iframe{
width: 100%;
height: 100%;
}
/* 640px以下 */
@media (max-width:640px){
width: 90%;
}
}

/* 電話番号の設定 */
.tel{
pointer-events: none;/* クリック出来なくなる */
@media (max-width:960px){
pointer-events: all;/* もとに戻す */
}
}
/* 店舗情報部分 */
.shop-container{
width: 70%;
margin: 0 auto;
>.g-map{
width: 100%;
aspect-ratio: 2/1;
>iframe{
width: 100%;
height: 100%;
margin-bottom: 50px;
}
}
.shop-wrapper{
display: flex;
gap: 0 4%;
>dl{
width: 48%;
display: flex;
flex-wrap: wrap;
font-size: 18px;
>dt{
width: 35%;
margin-bottom: 30px;
align-self: baseline;
}
>dd{
width: 65%;
margin-bottom: 30px;
align-self: baseline;
>a{
color: var(--text_color);
}
}
}
}
/* 960px以下 */
@media (max-width:960px){
width: 90%;
.shop-wrapper{
flex-direction: column;
gap: 10px 0;
>dl{
width: 100%;
>dt,>dd{
text-align: center;
font-size: 14px;
}
}
}

}
}
/* よくある質問部分 */
#faq>details{
max-width: 680px;
margin: 0 auto 60px;
>summary{
background-color: var(--color_3);
font-size: 20px;
padding: 10px 20px 10px 80px;
list-style: none;/* 黒い三角を消す、ただしPCのみに有効 */
text-indent: -2.5em;
&:hover{
filter: saturate(200%);
cursor: pointer;
transition: 0.2s;
}
&::before{
content:attr(data-question);
font-family: var(--font_en);
font-size: 22px;
margin-right: 10px;
}
}
>.answer{
background-color: #fdf1f1;
padding: 20px 20px 20px 50px;
text-indent: -1.2em;    
&::before{
content: attr(data-answer);
font-family: var(--font_en);
margin-right: 5px;
}
}
}

/* カルーセル部分 */
.carousel ul{
display: flex;
li{
width: 16.6%;
height: 220px;
img{
object-fit: cover;
width: 100%;
height: 100%;
}
}
}
/* フッター部分 */
footer{
width: 100%;
padding: 40px 0;
background-color: var(--color_3);
>p{
text-align: center;
color: #333;
}
}

/* CTAボタン */
.to-form{
width: 280px;
text-align: center;
padding: 15px 10px 15px 25px;
background: var(--color_3) url(../img/icon.svg) no-repeat 15PX center/40px;
position: fixed; 
right: 30px;
bottom: 30px;
z-index: 20;
color: #FFFFFF;
box-shadow: 0 0 5px #777777;
&::after{
content:"";
display: inline-block;
width: 10px;
height: 10px;
border-top: 2px solid #FFF;
border-right: 2px solid #FFF;
rotate: 45deg;
margin-left: 10px;
}
&:hover{
background-color: #fcc0c0;
&::after{
translate: 5px 0;
transition: 0.1s;
}
}
}

/* 予約ページ部分 */
.form-inner{
max-width: 640px;
margin: 0 auto;
>#g-form{
width: 100%;
}
}

/* 完了ページ部分 */
#thanks>p{
text-align: center;
font-size: 18px;
margin: 60px 0;
}
.to-toppage{
display: block;
text-align: center;
color: var(--text_color);
&:hover{
text-decoration: underline;
}
}


/* 多言語化部分 */
body{
padding-top: 60px;
}
#hum-btn{
top: 60px;
}
.lang-btn{
display: flex;
gap: 0 15px;
margin-top: 20px;
>li:nth-of-type(-n+2)::after{
content:"|";
margin-left: 15px;
color: var(--text_color);
}
a{
color: var(--text_color);
&:hover{
text-decoration: underline 2px;
text-underline-offset: 2px;
}
}
}
